<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <!--MUST CHANGE "Catalog" to YOUR ID!!!-->
    <add name="ConnectionStringSqlServer" connectionString="Data Source=narcissa;Initial Catalog=djkusz;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="ConnectionStringAccessPlayers" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\property.accdb"
        providerName="System.Data.OleDb" />
    <add name="ConnectionStringAccessPatients" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\patients.mdb"
        providerName="System.Data.OleDb" />
  </connectionStrings>

  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
